* {
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.item {
    border: 1px solid black;
}